API_KEY = dev-secret-key

APP_POSTGRES_USER = username
APP_POSTGRES_PASSWORD = password
APP_POSTGRES_DB = fraud_predictions

AIRFLOW_POSTGRES_USER = username
AIRFLOW_POSTGRES_PASSWORD = password
AIRFLOW_POSTGRES_DB = airflow