__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

venv/
.env/
.venv/

mlruns/
mlflow.db
*.db

models/*.pkl
models/*.joblib
models/*.json

logs/
airflow_logs/

monitoring/reports/

airflow_home/

.streamlit/

.pytest_cache/
.coverage
htmlcov/

.DS_Store
Thumbs.db

.vscode/
.idea/

# Docker
*.log

# Data files
data/*.csv
*.csv

tmp/
temp/